<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Construction Website</title>

   <!-- font awesome cdn link  -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery-js/1.4.0/css/lightgallery.min.css">

   <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

   <!-- custom css file link  -->
   <link rel="stylesheet" href="/css/style.css">

</head>
<body>
   
<!-- header section starts  -->

<header class="header">

   <a href="#" class="logo">We<span>Build</span></a>

   <nav class="navbar">
      <a href="#home">baş sahypa</a>
      <a href="#about">biz barada</a>
      <a href="#services">hyzmatlarymyz</a>
      <a href="#projects">işlerimiz</a>
      <a href="#contact">habarlaşmak</a>
      <a href="#blogs">edaralar</a>
   </nav>

   <div class="icons">
      <div id="menu-btn" class="fas fa-bars"></div>
      <div id="login-btn" class="fas fa-user"></div>
   </div>

   <form action="/login" method="post" class="login-form">
      <h3>login</h3>
      <input type="email" placeholder="E-poçta" name="email" class="box">
      <input type="password" placeholder="Parol" name="password" class="box">
      <div class="flex">
         <input type="checkbox" id="remember-me">
         <label for="remember-me">ýatda sakla</label>
      </div>
      <input type="submit" value="Içeri gir" class="btn">
   </form>

</header>

<!-- header section ends -->

<!-- home section starts  -->

<section class="home" id="home">

   <div class="swiper home-slider">

      <div class="swiper-wrapper">

         <section class="swiper-slide slide" style="background: url(images/avtomatizirovannaja-linija-proizvodstva-kirpichej-v-kirovo-chepecke-640x360.jpg) no-repeat;">
            <div class="content">
               <h3>we provide best service</h3>
               <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur beatae iusto pariatur laborum magnam eos!</p>
            </div>
         </section>

         <section class="swiper-slide slide" style="background: url(images/avtomatizirovannyj-kirpichnyj-zavod-v-kaliningradskoj-oblasti-640x360.jpg) no-repeat;">
            <div class="content">
               <h3>making dream come to life</h3>
               <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur beatae iusto pariatur laborum magnam eos!</p>
            </div>
         </section>

         <section class="swiper-slide slide" style="background: url(images/ceh-kompanii-kerma-640x360.jpg) no-repeat;">
            <div class="content">
               <h3>from concept to creation</h3>
               <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur beatae iusto pariatur laborum magnam eos!</p>
            </div>
         </section>

      </div>

      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>

   </div>

</section>

<!-- home section ends -->

<!-- about section starts  -->

<section class="about" id="about">

   <h1 class="heading"> biz barada </h1>

   <div class="row">

      <div class="video">
         <img src="images/mazurovskij-kirpichnyj-zavod-v-kemerovo-640x360.jpg" alt="">
      </div>

      <div class="content">
         <h3>We will provide you the best work which you dreamt for!</h3>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas et vero mollitia nemo corporis consequatur aspernatur distinctio dignissimos velit nam.</p>
      </div>

   </div>

</section>

<!-- about section ends -->

<!-- services section starts  -->

<section class="services" id="services">

   <h1 class="heading"> hyzmatlarymyz </h1>

   <div class="box-container">

      <div class="box">
         <img src="images/service-1.png" alt="">
         <h3>building construction</h3>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, necessitatibus.</p>
      </div>

      <div class="box">
         <img src="images/service-2.png" alt="">
         <h3>house renovation</h3>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, necessitatibus.</p>
      </div>

      <div class="box">
         <img src="images/service-3.png" alt="">
         <h3>architechture design</h3>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, necessitatibus.</p>
      </div>

      <div class="box">
         <img src="images/service-4.png" alt="">
         <h3>material supply</h3>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, necessitatibus.</p>
      </div>

   </div>

</section>

<!-- services section ends -->

<!-- projects section starts  -->

<section class="projects" id="projects">

   <h1 class="heading"> taýýarlanylan işlerimiz </h1>

   <div class="box-container">

      <a href="images/project-1.jpg" class="box">
         <div class="image">
            <img src="images/robotizirovannyj-kirpichnyj-zavod-braer-640x360.jpg" alt="">
         </div>
         <div class="content">
            <div class="info">
               <h3>dream home</h3>
               <p>construction, design</p>
            </div>
         </div>
      </a>

      <a href="images/project-4.jpg" class="box">
         <div class="image">
            <img src="images/robotizirovannyj-kirpichnyj-zavod-braer-640x360.jpg" alt="">
         </div>
         <div class="content">
            <div class="info">
               <h3>dream home</h3>
               <p>construction, design</p>
            </div>
         </div>
      </a>

      <a href="images/project-5.jpg" class="box">
         <div class="image">
            <img src="images/robotizirovannyj-kirpichnyj-zavod-braer-640x360.jpg" alt="">
         </div>
         <div class="content">
            <div class="info">
               <h3>dream home</h3>
               <p>construction, design</p>
            </div>
         </div>
      </a>

   </div>

</section>

<!-- projects section ends -->

<!-- contact section starts  -->

<section class="contact" id="contact">

   <h1 class="heading"> habarlaşmak </h1>

   <div class="row">

      <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15076.89592087332!2d72.8319697277345!3d19.14167056419224!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b63aceef0c69%3A0x2aa80cf2287dfa3b!2sJogeshwari%20West%2C%20Mumbai%2C%20Maharashtra%20400047!5e0!3m2!1sen!2sin!4v1641716772852!5m2!1sen!2sin" allowfullscreen="" loading="lazy"></iframe>

      <form action="">
         <input type="text" placeholder="name" class="box">
         <input type="email" placeholder="email" class="box">
         <input type="number" placeholder="phone" class="box">
         <textarea name="" placeholder="message" class="box" id="" cols="30" rows="10"></textarea>
         <input type="submit" value="habary ugrat" class="btn" onclick="alert('Habar ugradyldy!')">
      </form>

   </div>

</section>

<!-- contact section ends -->

<!-- blogs section starts  -->

<section class="blogs" id="blogs">

   <h1 class="heading"> ýurdymzda ýerleşýän edaralar </h1>

   <div class="swiper blogs-slider">

      <div class="swiper-wrapper">

         <div class="swiper-slide slide">
            <div class="image">
               <img src="images/pallety-s-kirpichami-na-krytom-sklade-640x360.jpg" alt="">
            </div>
            <div class="content">
               <h3>blog title goes here</h3>
               <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda, nobis!</p>
            </div>
         </div>

         <div class="swiper-slide slide">
            <div class="image">
               <img src="images/pallety-s-kirpichami-na-krytom-sklade-640x360.jpg" alt="">
            </div>
            <div class="content">
               <h3>blog title goes here</h3>
               <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda, nobis!</p>
            </div>
         </div>

         <div class="swiper-slide slide">
            <div class="image">
               <img src="images/pallety-s-kirpichami-na-krytom-sklade-640x360.jpg" alt="">
            </div>
            <div class="content">
               <h3>blog title goes here</h3>
               <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda, nobis!</p>
            </div>
         </div>

         <div class="swiper-slide slide">
            <div class="image">
               <img src="images/pallety-s-kirpichami-na-krytom-sklade-640x360.jpg" alt="">
            </div>
            <div class="content">
               <h3>blog title goes here</h3>
               <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda, nobis!</p>
            </div>
         </div>

         <div class="swiper-slide slide">
            <div class="image">
               <img src="images/pallety-s-kirpichami-na-krytom-sklade-640x360.jpg" alt="">
            </div>
            <div class="content">
               <h3>blog title goes here</h3>
               <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda, nobis!</p>
            </div>
         </div>
         
         <div class="swiper-slide slide">
            <div class="image">
               <img src="images/pallety-s-kirpichami-na-krytom-sklade-640x360.jpg" alt="">
            </div>
            <div class="content">
               <h3>blog title goes here</h3>
               <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda, nobis!</p>
            </div>
         </div>

      </div>

   </div>

</section>

<!-- blogs section ends -->

<!-- footer section starts  -->

<section class="footer">

   <div class="links">
      <a class="btn" href="#home">baş sahypa</a>
      <a class="btn" href="#about">biz barad</a>
      <a class="btn" href="#services">hyzmatlarymyz</a>
      <a class="btn" href="#projects">işlerimiz</a>
      <a class="btn" href="#contact">habarlaşmak</a>
      <a class="btn" href="#blogs">edaralar</a>
   </div>

   <div class="credit"> created by <span>MD IMRAN HOSSEN</span> | all rights reserved! </div>

</section>

<!-- footer section ends -->









<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery-js/1.4.0/js/lightgallery.min.js"></script>

<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

<!-- custom js file link  -->
<script src="js/script.js"></script>

<script>

lightGallery(document.querySelector('.projects .box-container'));

</script>

</body>
</html>